.card-items-container {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: #a1a1a4;
  padding: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
  font-size: 1.5vh;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);

    &::after {
      opacity: 1;
    }

    & .card_items__name {
      color: #eeee56;
    }

    & .icon-right {
      opacity: 1;
      transform: translateX(0);
    }

  }

  .icon-right {
    position: absolute;
    right: 2rem;
    color: #eeee56;
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;

    @media only screen and (max-width: 768px) {
      .icon-right {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .card_items__name {
    font-size: 2vh;
    margin-bottom: .5em;
    transition: color 0.3s ease-out;

    @media only screen and (max-width: 768px) {
      font-size: 2.2vh;
    }
  }

  .card_items_font {
    font-size: 1.8vh;

    @media only screen and (max-width: 768px) {
      font-size: 2vh;
    }

  }


}


