* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*font-family: 'PT Sans Narrow', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
}

.content {
  background-image: url('../images/port_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  overflow-x: hidden;

  @media only screen and (max-width: 992px) {
    min-height: 100vh;
  }

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1920px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: auto;
  }

  body {
    height: auto;
  }
}

@media screen and (min-height: 1920px) {
  .container {
    width: 2200px;
  }
}
